ARKitRuler.xcodeproj/project.xcworkspace/xcuserdata/maximshvetsov.xcuserdatad/UserInterfaceState.xcuserstate
ARKitRuler.xcodeproj/project.xcworkspace/xcuserdata/user.xcuserdatad/UserInterfaceState.xcuserstate
ARKitRuler.xcodeproj/xcuserdata/maximshvetsov.xcuserdatad/xcschemes/ARKitRuler.xcscheme
ARKitRuler.xcodeproj/xcuserdata/maximshvetsov.xcuserdatad/xcschemes/xcschememanagement.plist
ARKitRuler.xcodeproj/xcuserdata/user.xcuserdatad/xcschemes/xcschememanagement.plist
